<% if (theme.UYUserId && page.comments){ %>
<section id="comment">
  <h1 class="title"><%= __('comment') %></h1>
<div id="uyan_frame"></div>
<script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=<%= theme.UYUserId %>" async=""></script>
</section>
<% } %>


<% if (config.duoshuo && page.comments){ %>
<section id="comment">
<h1 class="title"><%= __('comment') %></h1>
<div class="ds-thread" data-thread-key="<%= page.path %>" data-title="<%= page.title %>" data-url="<%= page.permalink %>"></div>
<script type="text/javascript">
  var duoshuoQuery = {short_name:"<%= config.duoshuo %>"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
    || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
</script>
</section>
<% } %>

